{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}" />
</head>
<body>
    <h1>Hello/Form/{{ title }}</h1>
    <div class="parent">
        <div>
            <p><a href="{% url 'form' %}">FormDefault</a></p>
            <p><a href="{% url 'formfirst' %}">FormField</a></p>
            <p><a href="{% url 'formsecond' %}">FormCheckbox</a></p>
            <p><a href="{% url 'formthird' %}">FormNullBooiean</a></p>
            <p><a href="{% url 'formfourth' %}">FormPullDown</a></p>
            <p><a href="{% url 'formfifth' %}">FormRadio</a></p>
            <p><a href="{% url 'formsixth' %}">FormList</a></p>
            <p><a href="{% url 'formseventh' %}">FormMultiple</a></p>
        </div>
        <div>
            <p>{{ msg|safe }}</p>
            <table>
            <form method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" value="click"></td>
                </tr>
            </form>
            </table>
        </div>
    </div>
</body>
</html>